---
title:  HDTS 2013
cover: hdts_large_05.jpg
categories: projects
thumbnail: hdts_thumb.jpg
client: High Desert Test Sites
year: 2013
role: Photography
gallery:
 - hdts_small_01.jpg
 - hdts_small_02.jpg
 - hdts_small_03.jpg
 - hdts_small_04.jpg
 - hdts_14.jpg
 - hdts_small_05.jpg
 - hdts_small_06.jpg
 - hdts_17.jpg
---
.media-text-block
  :markdown
    In October of 2013, High Desert Test Sites transformed Joshua Tree and the
    surrounding desert into an open-air art museum. The event, which happens
    every two years, involves dozens of artists from around the world.

    I spent a weekend in the desert helping document the event. Some highlights
    from the trip can be seen here.
= media_block(current_page.data.gallery[0..1])
= media_block(current_page.data.gallery[3])
= media_block(current_page.data.gallery[4])
= media_block(current_page.data.gallery[5..6])
= media_block(current_page.data.gallery[7])
