%header.nav
  %h2.nav-logo= link_to "Eric Gardner", "/"
  %a.mobile-nav-icon{:href => "javascript:void(0);"} Menu
  %ul.nav-links
    %li= nav_link "Work", "/work/"
    %li= nav_link "Photography", "#"
    %li= nav_link "Writing", "/writing/"
    %li= nav_link "About", "#"
